.skatepark-form-page {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;
}

.skatepark-form-buffer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  height: 30px;
  width: 100%;
  align-items: center;
  font-size: 100%;
  background: transparent;
  padding: 0;
  border-top: 1px solid rgba(159, 159, 159, 0.405);
}

.skatepark-form-div {
  background: #f2f2f2;
  width: 70%;
  padding-bottom: 10px;
  height: 90%;
  box-shadow: 2px 0 4px 0 rgb(0 0 0 / 10%);
  border: 1px solid #ccc;
  padding-left: 20px;
  padding-right: 20px;
}

.skatepark-form-h1 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: thin solid rgba(189, 189, 189, 0.444);
}

.skatepark-form {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.skatepark-form-required {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/* errors */
.sp-errors {
  width: 85%;
  margin: auto;
}

/* All p tags */
.skatepark-form-p {
  font-style: italic;
  color: rgb(0, 8, 255);
}

.all-required {
  width: 50%;
  text-align: right;
}

.park-name {
  width: 50%;
}

.drop-down-choose {
  width: 80%;
  margin: .5em 10%;
  margin-top: 1.6em;
}

.skatepark-form-label {
  width: 80%;
  margin: 10px 10%;
}

.skatepark-form-input {
  height: 40px;
  margin: 5px auto;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  width: 80%;
  height: 20%;
  padding: 12px 16px;
  color: #414141;
  height: 18px;
}

.skatepark-form-location {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 6%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 15em;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 0;
  margin-top: 1em;
}

.description-input {
  margin: 4px auto;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  width: 80%;
  min-height: 60px;
  padding: 12px 16px;
  color: #414141;
  max-height: 113px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.skatepark-form-submit {
  border-color: #428a13;
  background-color: #428a13;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 12px 20px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
}

.skatepark-form-submit:hover {
  border-color: #326c0b;
  background-color: #326c0b;
}

.skatepark-form-cancel {
  margin-left: 6px;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 12px 20px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #414141;
  border: 2px solid #b1b1b1;
}

.skatepark-form-cancel:hover {
  background-color: #ebebeb;
}

/* image upload */
.image-input {
  padding: 6px 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 1px;
  color: #414141;
}
input::file-selector-button {
  display: none;
}
input[type="file"] {
  display: none;
}
.img-input {
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 1px;
  height: 32px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 180px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #414141;
  border: 2px solid #b1b1b1;
}

.img-input:hover {
  background-color: #ebebeb;
}

.img-upload-p {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1em;
}

.skatepark-form-img-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  width: 80%;
}

.skatepark-form-btn-div {
  margin: 1em 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  gap: 20px;
}

/* multiselect */

.select-container {
  width: 100%;
}

.select-container div:first-child {
  height: fit-content;
}

.select-container div:first-child .tag-select-comp {
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
}

.select-container div:first-child .chip {
  background-color: #0144ff;
}

.highlightOption {
  background-color: #0144ff !important;
}
.option:hover {
  background-color: #0144ff !important;
}
.select-container div:first-child .search-wrapper {
  border-radius: 8px;
  background-color: #ffffff;
  height: 100%;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding: 12px 16px;
  border-radius: 8px;
  line-height: 1.5;
}

.select-container div:first-child .optionListContainer {
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.multiselect-container {
  margin-bottom: 0;
  height: 44px;
}

.park-name {
  width: 50%;
  margin: 0;
}

.thumbnail-container {
  display: flex;
  flex-flow: row wrap;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  justify-content: center;
}

.thumbnail-divs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 160px;
  margin: 1em;
}

.thumbnail-remove-btn {
  border-radius: 50%;
  border: thin solid #9c9c9c;
  padding: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #797979;
  transform: translate(10px, 10px);
}

@media only screen and (max-width: 1030px) {
  .skatepark-form-page {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
  }
  .skatepark-form-div {
    background: #f2f2f2;
    width: 100%;
    padding-bottom: 10px;
    height: 90%;
    box-shadow: 2px 0 4px 0 rgb(0 0 0 / 10%);
    border: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
  }
  .skatepark-form-required {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .skatepark-form-p {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .skatepark-form-location {
    display: flex;
    flex-direction: column;
    height: 15em;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0;
    margin-top: 1em;
  }
  .skatepark-form-label {
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .skatepark-form-img-div {
    flex-direction: column;
  }
  .photo-amount {
    margin-left: 1em;
  }
  .all-required {
    text-align: left;
    margin: 1em 0;
  }
}

@media only screen and (max-width: 625px) {
  .skatepark-form-page {
    margin-left: 0;
    margin-right: 0;
  }
}
