.about-page {
  margin: auto 10%;
  height: 100%;
}

.first-buffer-about {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  height: 30px;
  width: 100%;
  align-items: center;
  font-size: 100%;
  background: transparent;
  padding: 0;
  border-top: 1px solid rgba(159, 159, 159, 0.405);
}

.second-buffer-about {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  height: 60px;
  width: 100%;
  align-items: center;
  font-size: 100%;
  background: transparent;
  padding: 0;
  border-bottom: thin solid rgba(183, 183, 183, 0.475);
}

.about-dropin {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.20;
}

.about-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.20;
  color: #414141;
  width: 480px;
  margin-top: 40px;
  margin-bottom: 5em;
  height: 20%;
}

.about-title-span {
  color: #428a13;
}

.about-title-h2 {
  font-size: 18px;
  margin-bottom: 64px;
}

.about-title-span2 {
  font-weight: 400;
  color: #5c5c5c;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
  align-items: center;
  margin-bottom: 1em;
}

.about-me-img {
  width: 200px;
  border-radius: 20px;
}

.about-me-link-div {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 20%;
  letter-spacing: 2px;
}

.about-me-name-link {
  text-decoration: none;
  color: #414141;
}

.about-me-img-links {
  width: 30px;
}

.about-me-img-links:first-child {
  margin-left: 1em;
}

.about-me-p-div {
  width: 80%;
}

.about-me-p {
  width: 80%;
  margin-left: 1em;
  line-height: 1.60;
}

.frameworks-title {
  font-size: 18px;
  font-weight: bold;
  width: 40%;
}

.frameworks-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 9%;
  margin-bottom: 6em;
}

.framework {
  background-color: #ffffff;
  padding: 1em 1em;
  border-top: 2px solid rgb(181, 181, 181);
  border-bottom: 2px solid rgb(200, 200, 200);
}

.about-me-icons-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-me-links-div2 {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 589px) {
  .about-title-section {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
    margin-top: 0;
  }
  .about-title-h2 {
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1em;
  }
  .about-page {
    width: 100%;
    margin: 0;
  }
  .about-me-container {
    flex-direction: column;
    height: 50%;
    margin-top: 6em;
    margin-bottom: 0;
    gap: 1em;
  }
  .about-title-section {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .about-me-p {
    width: 100%;
    margin: 0;
  }
  .about-me-link-div {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .about-me-icons-div {
    justify-content: flex-end;
  }
  .about-me-links-div2 {
    flex-direction: row;
    justify-content: center;
    width: 80%;
  }
  .frameworks-div {
    flex-flow: row wrap;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3em;
  }
  .framework {
    padding: 6px;
    margin-top: .3em;
  }
  .about-me-img-links:first-child {
    margin: 0 .1em;
    margin-left: .3em;
  }
  .about-dropin {
    margin-left: 1em;
  }
}

@media only screen and (min-width: 589px) and (max-width: 813px) {
  .about-dropin {
    margin-left: 1em;
  }
  .about-page {
    width: 100%;
    margin: 0;
  }
  .about-me-container {
    flex-direction: column;
    height: 50%;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  .about-title-section {
    margin-bottom: 0;
  }
  .about-me-p-div {
    margin-top: 20px;
  }
  .about-me-p {
    width: 100%;
    margin: 0;
  }
  .about-me-link-div {
    justify-content: flex-start;
    width: 80%;
  }
}


@media only screen and (min-width: 813px) and (max-width: 1293px) {
  .about-me-p-div {
    width: 70%;
  }
  .about-me-container {
    gap: 2em;
    margin-bottom: 2.6em;
  }
  .about-me-link-div {
    width: 40%;
  }
  .about-me-p-div {
    width: 60%;
  }
  .about-me-p {
    width: 100%;
    margin: 0;
  }

}
