.heart {
  width: 30px;
  top: 10%;
  left: 10%;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.snippet-card-addy-fave-container .heart {
  margin-left: 26px;
}

/* .favorite-div .heart {
  margin-bottom: 80%;
} */
