.single-park-star-name-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  margin-top: 10px;
}

.single-park-average-star-rating-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 16px;
}

.average-star-park-p {
  font-size: 14px;
  margin-left: 6px;
}

#single-park-star-btns {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 4px;
}

.single-park-star-img {
  width: 18px;
  height: 18px;
}
