#tags-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  top: 0;
  height: 60px;
  width: 100%;
  align-items: center;
  font-size: 100%;
  background: transparent;
  border-top: thin solid #a9a9a952;
  gap: 5em;
}

.tag-btn-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.search-container {
  height: 60px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag-btn {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  font-size: 14px;
  border-radius: 24px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  box-sizing: content-box;
  text-decoration: none;
}

.tag-btn:hover {
  color: #326c0b;
  border-color: #326c0b;
}

#tags-p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.map-list-container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: calc(100vh - 124px);
  width: 100%;
}

.skatepark-card-holder {
  background-color: #ffffff;
  width: 400px;
  height: 100%;
  box-shadow: 2px 0 4px 0 rgb(0 0 0 / 10%);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.skatepark-card-div {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  box-shadow: 2px 0 4px 0 rgb(0 0 0 / 10%);
  overflow-y: scroll;
}

.skatepark-card-div div {
 width: 100%;
}

.activebtn {
  background-color: #428a13;
  color: #ffffff;
}

.activebtn:hover {
  color: #ffffff;
}

.map-container {
  margin-left: 0px;
  width: calc(100vw - 400px);
  z-index: 0;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

.sort-btn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .map-list-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    /* position: relative;
    height: calc(100vh - 124px); */
    width: 100%;
  }

  .map-container {
    margin-left: 0px;
    width: 100%;
    height: 300px;
    z-index: 0;
    margin-right: 0;
    /* display: block; */
    /* flex-direction: column; */
  }

  .skatepark-card-holder {
    background-color: #ffffff;
    width: 100%;
    height: calc(100% - 300px);
    box-shadow: 2px 0 4px 0 rgb(0 0 0 / 10%);
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media only screen and (max-width: 1302px) {
  .tag-btn-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 3;
    position: relative;
    transform: translate(-14.6em, 16.3em);
    background-color: rgb(177, 177, 177);
    width: 186px;
    border-radius: 4px;
    padding: 1em;
  }
  .sort-btn {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    font-size: 14px;
    border-radius: 24px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 3em;
    box-sizing: content-box;
    text-decoration: none;
    position: relative;
    width: 100px;
  }
}
