.review-create-btn {
  width: 85%;
  border-color: #428a13;
  background-color: #428a13;
  color: #ffffff;
  height: 48px;
  cursor: pointer;
  border-radius: 9999px;
  margin: 0 7.5%;
  border: 2px solid transparent;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* .new-review-form-container {
} */

.new-review-form {
  padding: 30px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.new-review-cancelbtn-div {
  height: 48px;
  width: 48px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

.new-review-cancelbtn-div:hover {
  background-color: #e0e0e0;
}

.new-review-cancel-btn {
  transition: 200ms ease-in-out 0s;
  font-size: 24px;
  border: none;
  color: #333;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

.new-review-skatepark-name {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 20px;
}

.new-review-label {
  margin-bottom: 4px;
  margin-top: 30px;
}

.new-review-input {
  border-radius: 6px;
  border: thin solid rgba(194, 194, 194, 0.555);
  min-height: 26px;
}

.new-review-submit-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.new-review-submit {
  margin-top: 60px;
  margin-right: 30px;
  border-color: #428a13;
  background-color: #428a13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 16px 20px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
}

.new-review-submit:hover {
  border-color: #326c0b;
  background-color: #326c0b;
}

.review-errors {
  color: red;
}
