.single-review-container {
  height: 270px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  width: 352px;
  margin: auto 10%;
  margin-left: 15%;
  margin-bottom: 0;
  border-top: thin solid #b4b4b481;
}

.review-rating {
  margin-top: 10px;
  margin-left: 10px;
}

.review-comment {
  height: 100px;
  width: 346px;
  margin: 0 10px;
  word-wrap: break-word;
  text-align: left;
  line-height: 1.50;
  overflow-y: scroll;
}

.review-edit-btn {
  margin-left: 20px;
  border-color: #428a13;
  background-color: #428a13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
}

.review-edit-btn:hover {
  border-color: #326c0b;
  background-color: #326c0b;
}

.review-delete-btn {
  margin-left: 6px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #414141;
  border: 2px solid #9f9f9f;
}

.review-delete-btn:hover {
  background-color: #efefef;
}

.review-user-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.review-user-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
}

.single-review-btns-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

/* stars */

.single-review-star-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

#single-review-star-btns {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  margin: auto 3px;
}

.single-review-star-img {
  width: 18px;
  height: 18px;
}

/* all reviews page stars */

.average-star-container {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

#average-star-btns {
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  margin: auto 3px;
}

.average-star-img {
  width: 26px;
  height: 26px;
}

.average-star-p {
  text-align: center;
  margin: 0;
  font-size: 16px;
}
