#homepage-container {
  width: 100%;
  height: 1650px;
}

.homepage-img {
  background-image: url(https://drop-in-skate-bucket.s3.us-west-1.amazonaws.com/AA065D57-400F-4691-B03F-5B2512CF2137.jpeg);
  background-color: rgba(0, 0, 0, 0.362);
  height: 358px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  z-index: 0;
  text-align: center;
}

.home-page-title {
  font-size: 60px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.homepage-banner {
  height: 400px;
  padding-bottom: 80px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.homepage-banner-h2 {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  padding-bottom: 10px;
}

.skate-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}


.homepage-img-container {
  max-width: 300px;
  max-height: 225.2px;
  border-radius: 15px;
  overflow: hidden;
}

.homepage-banner-imgs {
  max-width: 300px;
  min-height: 225.2px;
  border-radius: 15px;
  transition: transform .3s ease-in-out;
  object-fit: cover;
}

.homepage-banner-imgs:hover {
  transform: scale(1.1);
}

.skatepark-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  gap: 16px;
}

.homepage-skatepark-name {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: 700;
}

.top-location {
  margin-top: 8px;
}

.homepage-skatepark-location {
  font-size: 14px;
  color: rgb(127, 127, 127);
  line-height: 1.20;
}

.homepage-banner-2 {
  background-image: url(https://drop-in-skate-bucket.s3.us-west-1.amazonaws.com/C462D625-7DF3-49FC-A936-880FAD2D9899.jpeg);
  background-color: rgba(0, 0, 0, 0.362);
  height: 360px;
  display: flex;
  justify-content: center;
  color: white;
  z-index: 0;
  text-align: center;
}

.homepage-tags-section {
  height: 26%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  width: 100%;
  gap: 3%;
}

.home-page-tags-h2-p-div {
  margin-right: 50%;
}

.homepage-tags-section-h2 {
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.homepage-tags-p {
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.homepage-tags-titles {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.homepage-tags-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  width: 100%;
  height: 100%;
}

.homepage-tag-pipe {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform .2s;
}

.homepage-tag-pipe:hover {
  transform: scale(1.1);
}

.homepage-tag-bowl {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform .2s;
}

.homepage-tag-bowl:hover {
  transform: scale(1.1);
}

.homepage-tag-street {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform .2s;
}

.homepage-tag-street:hover {
  transform: scale(1.1);
}

.homepage-tag-pump {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform .2s;
}

.homepage-tag-pump:hover {
  transform: scale(1.1);
}

.homepage-tag-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #333;
  width: 17%;
  height: 100%;
  gap: 4%;
}

.homepage-tag-img-divs {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  overflow: hidden;
}

.homepage-park-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage-search-div {
  margin: 0;
  background-color: transparent;
  z-index: 1;
  height: 0;
  top: -120;
  transform: translate(0, -40px);
}

.homepage-search-div .main {
  display: flex;
  width: 30%;
  height: 80px;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  margin: auto;
  z-index: 2;
}

.homepage-search-div .main .search div {
  height: 70px;
  border-radius: 99999px;
  background-color: #ffffff;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 24%);
  position: relative;
  z-index: 3;
}

.homepage-search-div .main .search-ul {
  margin-left: 0;
  margin-top: 3.5%;
  border-radius: 6px;
  position: absolute;
  left: auto;
  right: auto;
  transform: translate(0, 12px);
  background-color: #f9f9f9;
  width: 30%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  padding: 0;
  max-height: 420px;
  overflow-y: scroll;
}

.homepage-search-div .main .search-ul .search-link {
  padding: 0 16px;
  margin: 0;
}

/* media queries */

@media only screen and (max-width: 450px) {

  #homepage-container {
    height: 100%;
  }
  .homepage-img {
    height: 250px;
  }
  .home-page-title {
    font-size: 30px;
  }
  .skate-card-container {
    flex-direction: column;
  }
  .homepage-banner {
    height: 100%;
  }
  .homepage-banner-2 {
    height: 250px;
  }
  .homepage-tags-section {
    height: 320px;
  }
  .home-page-tags-h2-p-div {
    margin: .1em 1em;
  }
  .homepage-tags-section-h2 {
    height: .8em;
  }
  .homepage-tags-p {
    height: 1em;
  }
  .homepage-tags-titles {
    font-size: 18px;
  }
  .homepage-tags-container {
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin: 0 5%;
    gap: 0;
  }
  .homepage-tag-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #333;
    width: 100%;
    height: 100%;
    gap: 0;
  }
  .homepage-tag-img-divs {
    width: 80px;
    height: 80px;
  }
  .homepage-tag-pipe {
    width: 80px;
    height: 80px;
  }
  .homepage-tags-titles {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    min-height: 40px;
    margin-bottom: 10px;
  }
  .homepage-search-div .main {
    display: flex;
    width: 80%;
    height: 20px;
  }
  .homepage-search-div .main .search div {
    height: 50px;
  }
}
