.profile-edit-form {
  width: 90%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: auto;
}

.profile-edit-header {
  font-size: 24px;
  line-height: 22px;
  font-weight: 700;
  color: #414141;
  margin-top: 8px;
  text-align: center;
}

.profile-edit-input {
  color: #414141;
  margin: 4px 0px;
  padding: 10px 16px;
  font-family: Proxima Nova, Arial, sans-serif !important;
  border-radius: 8px;
  box-sizing: content-box;
  border: thin solid rgba(194, 194, 194, 0.475);
  width: 90%;
  margin-bottom: 20px;
}

.profile-edit-labels {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 8px;
  transform: translate(14px, -6px) scale(0.75);
  z-index: 1;
  transform: translate(14px, 20px) scale(1);
  pointer-events: none;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
  margin-bottom: 10px;
}

.profile-edit-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.profile-edit-submit-btn {
  border-color: #428a13;
  background-color: #428a13;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 16px 20px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 40%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
  margin-bottom: 20px;
}

.profile-edit-submit-btn:hover {
  border-color: #326c0b;
  background-color: #326c0b;
}

.profile-edit-cancel-btn {
  background-color: transparent;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 16px 20px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 40%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #414141;
  border: 2px solid #9f9f9f;
}

.profile-edit-cancel-btn:hover {
  background-color: #b1b1b1;
}

@media only screen and (max-width: 450px) {
  .edit-profile-page-content {
    height: 100%;
  }
  .profile-edit-form {
    width: 90%;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: auto;
  }
  .edit-prof-container {
    overflow-y:unset !important;
  }
  .edit-profile-box {
    overflow-y: unset !important;
  }
  .edit-column-one {
    height: 80%;
  }
  .edit-column-two {
    height: 20%;
  }
}
