.snippet-container {
  padding: 0;
  width: 300px;
  overflow: hidden;
  height: 120px;
  margin-right: 0;
}

.gm-style .gm-style-iw-c {
  border-radius: 16px;
  min-width: 300px;
  max-width: 300px;
  padding: 0;
  height: 120px;
  overflow: hidden;
}

.gm-style-iw-d {
  max-height: none !important;
  padding-right: none !important;
}

.snippet-card {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  width: 300px;
  gap: 10px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  margin-right: 0 !important;
}

.snippet-image-container {
  width: 30%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
}

.snippet-card-img-container {
  overflow: hidden;
  width: 100%;
}

.snippet-card-img {
  object-fit: cover;
  flex-shrink: 0;
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100%;
}

.snippet-card-img:hover {
  transform: scale(1.1);
}

.snippet-card-word-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  height: 100%;
}

.snippet-card-park-name {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 4px;
  height: 10%;
}

.snippet-card-word-section .single-park-star-container {
  height: 10%;
}

.snippet-card-addy-fave-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.snippet-card-address-div {
  text-decoration: none;
  width: 80%;
}

.snippet-card-address {
  font-size: 14px;
  color: rgb(127, 127, 127);
  line-height: 1.20;
  width: 100%;
}

.gm-ui-hover-effect {
  padding-top: 5px !important;
  padding-right: 34px !important;
}

@media only screen and (max-width: 450px) {
  .snippet-container {
    padding: 0;
    width: 300px;
    overflow: hidden;
    margin-right: 0;
  }
  .snippet-card {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 300px;
    gap: 10px;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .snippet-card-addy-fave-container {
    justify-content: flex-start;
  }
}
