#tags-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  top: 0;
  height: 60px;
  width: 100%;
  align-items: center;
  font-size: 100%;
  background: transparent;
  border-top: thin solid #a9a9a952;
  gap: 5em;
}

.tag-btn-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.search-container {
  height: 60px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag-btn {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  font-size: 14px;
  border-radius: 24px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  box-sizing: content-box;
  text-decoration: none;
}

.tag-btn:hover {
  color: #326c0b;
  border-color: #326c0b;
}

#tags-p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.map-list-container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: calc(100vh - 124px);
  width: 100%;
}

.skatepark-card-holder {
  background-color: #ffffff;
  width: 400px;
  height: 100%;
  box-shadow: 2px 0 4px 0 rgb(0 0 0 / 10%);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.skatepark-card-div {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  box-shadow: 2px 0 4px 0 rgb(0 0 0 / 10%);
  overflow-y: scroll;
}

.activebtn {
  background-color: #428a13;
  color: #ffffff;
}

.activebtn:hover {
  color: #ffffff;
}

.map-container {
  margin-left: 0px;
  width: calc(100vw - 400px);
  z-index: 0;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

.sort-btn {
  display: none;
}

.select-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.select-container div:first-child {
  height: fit-content;
}

@media only screen  and (max-width: 1300px) {
  #tags-div {
    gap: 1em;
    align-items: flex-start;
  }
  .tag-btn-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 3;
    position: absolute;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    width: 186px;
    border-radius: 4px;
    padding: 1em;
  }
  .sort-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .sort-div {
    position: relative;
    display: inline-block;
    margin: auto;
    text-align: left;
  }
  .sort-btn {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #414141;
    font-size: 14px;
    border-radius: 24px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    position: relative;
    width: 100px;
    letter-spacing: 2px;
  }
  .sort-btn:hover {
    color: #326c0b;
    border-color: #326c0b;
  }
  .sort-arrow {
    width: 12px;
    height: 12px;
    margin: 0;
    transition: 1s;
  }
  .sort-arrow-active {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 768px) {
  .map-list-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100%;
    height: 1020px;
  }

  .map-container {
    margin-left: 0px;
    width: 100%;
    height: 420px;
    z-index: 0;
    margin-right: 0;
  }

  .skatepark-card-holder {
    background-color: #ffffff;
    width: 100%;
    height: calc(100% - 300px);
    box-shadow: 2px 0 4px 0 rgb(0 0 0 / 10%);
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 600px;
  }

  #tags-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    height: 120px;
    width: 100%;
  }

  .search-container {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .search-container .main {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sort-container {
    margin-left: 1em;
  }
  #tags-div {
    gap: .1em;
    align-items: flex-start;
    height: 100px;
  }
  .tag-btn-div {
    margin-top: 0;
  }
}
