#skateparks-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.explore-page-card-container {
  padding: 0;
  margin-bottom: 2em;
}

.explore-page-card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  height: 340px;
  /* width: 100%; */
  margin-top: 5%;
}

.image-container {
  width: 86%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 3%;
}

.explore-card-img-container {
  width: 100%;
  height: 234px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.explore-card-img {
  object-fit: cover;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 234px;
  border-radius: 16px;
  transition: transform .3s ease-in-out;
  overflow: hidden;
}

.explore-card-img:hover {
  transform: scale(1.1);
}


.explore-card-word-section {
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7%;
  margin-right: 7%;
}

.explore-card-park-name {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

#tags-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.explore-card-addy-fave-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 42px;
}

.explore-card-address-div {
  text-decoration: none;
}

.explore-card-address {
  font-size: 14px;
  color: rgb(127, 127, 127);
  line-height: 1.20;
}

.explore-card-test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.explore-card-inside-test {
  width: 70%;
  text-align: left;
}

@media only screen and (min-width: 520px) and (max-width: 768px) {
  .explore-card-img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    height: 300px;
    border-radius: 16px;
    transition: transform .3s ease-in-out;
    overflow: hidden;
  }
  .explore-page-card-container {
    padding: 0;
    height: 400px;
  }
  .explore-page-card {
    margin-top: 1em;
    height: 400px;
  }
  .image-container {
    height: 300px;
  }
  .explore-card-img-container {
    height: 300px;
  }
}
