body {
  overflow-x: hidden;
}

.footer {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: hidden;
  padding: 3.4em 0;
}

.footer-flex {
  padding: 0 81px;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* gap: 5em; */
  justify-content: space-between;
  color: #333;;
}

.footer-headers {
  text-decoration: none;
  color: #333;;
}

#footer-explore {
  display: flex;
  flex-direction: column;
  width: 16%;
}

.footer-tags-container {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 20px;
}

.footer-tags {
  text-decoration: none;
  line-height: 150%;
  margin-top: .8em;
  color: #414141;
}

.footer-tags:hover {
  text-decoration: underline;
}

.footer-about {
  display: flex;
  flex-direction: column;
  width: 16%;
}

.footer-socials {
  width: 40px;
}

.footer-social-links {
  text-decoration: none;
  line-height: 150%;
  margin-top: 10px;
  color: #414141;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.footer-social-links:hover {
  text-decoration: underline;
}

.footer-prof {
  width: 15%;
}

.footer-prof-p {
  text-decoration: none;
  line-height: 150%;
  margin-top: .8em;
  color: #414141;
}

.footer-prof-p:hover {
  text-decoration: underline;
}

.footer-image-container {
  width: 50%;
  margin-top: .8em;
}

.footer-img-flex {
  display: flex;
  flex-direction: column;
}

.footer-image {
  width: 100%;
  max-height: 240px;
  margin-bottom: 2em;
}

.footer-wheels-header {
  margin-bottom: 0;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;;
  width: 40%;

}

.footer-wheels-div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: center;
  gap: 3em;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.footer-icons-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 60%;
}

.footer-icons {
  width: 34px;
  margin-left: 10px;
}

.footer-signup {
  margin-top: 60px;
}

 .footer-signup-h2 {
  width: 100%;
  text-decoration: none;
  border-color: #428a13;
  background-color: #428a13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
}

.footer-signup-h2:hover {
  border-color: #326c0b;
  background-color: #326c0b;
}

.footer-login-h2 {
  width: 100%;
  text-decoration: none;
  color: #333;;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #414141;
  border: 2px solid #9f9f9f;
}

.footer-login-h2:hover {
  background-color: #b1b1b1;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: .3em;
  }
  .footer-flex {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
  }
  .footer-flex a h2 {
    margin-bottom: 0;
  }
  .footer-explore-h2 {
    margin-bottom: 1em;
  }

  #footer-explore {
    width: 100%;
  }
  .footer-tags-container {
    flex-flow: row wrap;
    gap: .4em;
    width: 90%;
  }
  .footer-tags {
    border: thin solid grey;
    border-radius: 4px;
    padding: .3em;
  }
  .footer-prof {
    width: 80%;
    margin: 0;
  }
  .footer-prof a h2 {
    margin-bottom: 0;
  }
  .prof-p-container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    gap: 5%;
  }
  .footer-prof-p {
    font-weight: 700;
    text-decoration: underline;
    line-height: 100%;
    font-size: 14px;
  }
  .footer-image {
    width: 100%;
    height: 120px;
    margin-bottom: 1em;
    display: none;
  }
  .footer-wheels-div {
    flex-direction: column;
    gap: 1em;
    align-items: center;
    display: none;
  }
  .footer-about {
    display: flex;
    flex-direction: column;
    gap: .1em;
    width: 90%;
    margin-left: 1%;
    margin-bottom: 20px;
  }
  .footer-social-links {
    font-weight: 700;
    width: 40%;
  }
  .footer-icons-div {
    gap: 1em;
    width: 80%;
    margin: 0 10%;
    justify-content: center;
  }
  .footer-icons {
    width: 10%;
    margin-left: 10px;
}
  .footer-signup {
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
    width: 100%;
  }
  .footer-signup a{
    width: 46%;
  }
  .footer-login-h2 {
    width: 100%;
  }
  .footer-signup-h2 {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1060px) {
  .footer {
    padding: .5em 3em;
    /* padding-left: 2em; */
  }
  .footer-flex {
    padding: 0;
    width: 90%;
    gap: 3em;
    justify-content: space-between;
  }
  #footer-explore {
    width: 20%;
  }
  .footer-image-container {
    display: none;
  }
  .footer-prof {
    width: 20%;
  }
}
