#root {
  font-family: Arial, Helvetica, sans-serif;
}

.prof-page {
  margin-bottom: 40px;
}

.first-buffer {
  height: 60px;
  height: fit-content;
  color: #000000;
  position: relative;
  border-top: 1px solid rgba(159, 159, 159, 0.405);
}

.first-buffer-flex {
  display: flex;
  flex-direction: row;
  margin: 8px 20%;
  border-bottom: 1px solid rgba(159, 159, 159, 0.405);
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 13px;
}

.carrot {
  margin-left: 10px;
  margin-right: 10px;
}

.second-buffer {
  height: 60px;
  height: fit-content;
  color: #000000;
  position: relative;
  margin-bottom: 8px;
}

.second-buffer-flex {
  display: flex;
  flex-direction: row;
  margin: 0 20%;
  line-height: 10px;
  letter-spacing: 1px;
  gap: 30px;
  padding-left: 20px;
  align-items: center;
}

.profile-page-content {
  position: relative;
  display: flex;
  justify-content: center;
  height: calc(100vh - 120px);
    font-family: Arial, Helvetica, sans-serif;
  margin: 0 20%;
  margin-right: 20%;
}

.profile-box {
  background: #f2f2f2;
  padding-bottom: 50px;
  height: 92%;
  box-shadow: 2px 0 4px 0 rgb(0 0 0 / 10%);
  border: 1px solid #ccc;
  width: 100%;
}

.profile-flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* first column */
.profile-column-one {
  width: 65%;
  height: 100%;
  background-color: #ccc;
}

.profile-container-header  {
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  height: 60px;
}

.profile-container-header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 30px;
  align-items: center;
}

.prof-headers {
  font-size: 20px;
}

.profile-edit-btn {
  background-color:  #219ad8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 6px 10px;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
}

.profile-edit-btn:hover {
  background-color:  #49ade0;
}

.profile-image-div {
  height: 28.7%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.image-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-profile-photo {
  text-decoration: none;
}

.profile-img {
  border: none;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-img:hover {
  border: none;
  font-size: 90%;
}

.profile-image {
  margin-left: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 5px;
  border: thin solid rgba(194, 194, 194, 0.442);
}

.profile-name-div {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 24px;
  font-weight: 300;
  color: #4f4c3e;
  margin: 0;
}

.profile-name-p {
  font-weight: 300;
  color: #4f4c3e;
}

/* review and favorite section */

.second-containers {
  height: 46px;
}

.second-flex {
  height: 100%;
}

.review-div {
  height: 28.7%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.review-flex-column {
  width: 80%;
  text-align: center;
}

.review-flex-comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.profile-favorite-explore {
  text-decoration: none;
  color: #428a13;
}

.profile-favorite-explore:hover {
  text-decoration: underline;
}

/* second column */
.profile-column-two {
  width: 35%;
  height: 100%;
}

.contribute {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.add-park-contribute-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 50px;
  text-decoration: none;
}

.plus-sign {
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  color: #4f4c3e;
}

.profile-add-contribute {
  text-decoration: none;
  color: #428a13;
}

.profile-add-contribute:hover {
  text-decoration: underline;
}

