#root {
  font-family: Arial, Helvetica, sans-serif;
}

.prof-page {
  margin-bottom: 40px;
}

.first-buffer {
  height: 60px;
  height: fit-content;
  color: #000000;
  position: relative;
  border-top: 1px solid rgba(159, 159, 159, 0.405);
}

.first-buffer-flex {
  display: flex;
  flex-direction: row;
  margin: 8px 20%;
  border-bottom: 1px solid rgba(159, 159, 159, 0.405);
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 13px;
}

.carrot {
  margin-left: 10px;
  margin-right: 10px;
}

.second-buffer {
  height: 60px;
  height: fit-content;
  color: #000000;
  position: relative;
}

.second-buffer-flex {
  display: flex;
  flex-direction: row;
  margin: 0 20%;
  line-height: 10px;
  letter-spacing: 1px;
  gap: 30px;
  padding-left: 20px;
  align-items: center;
}

.profile-links {
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #414141;
  border-bottom: 2px solid transparent;
}

.profile-links:hover {
  border-bottom: 2px solid rgb(212, 212, 212);
}

.active-prof-links {
  color: #428a13;
}

.active-prof-links:hover {
  color: #428a13;
  border-bottom: 2px solid grey;
}

.profile-page-content {
  position: relative;
  display: flex;
  justify-content: center;
  height: calc(100vh - 120px);
    font-family: Arial, Helvetica, sans-serif;
  margin: 0 20%;
  margin-right: 20%;
}

.profile-box {
  background: #f2f2f2;
  height: 100%;
  box-shadow: 2px 0 4px 0 rgb(0 0 0 / 10%);
  border: 1px solid #ccc;
  width: 100%;
}

.profile-flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* first column */
.profile-column-one {
  width: 65%;
  height: 100%;
  background: #f2f2f2;
}

.profile-container-header  {
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  height: 6%;
}

.profile-container-header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 30px;
  align-items: center;
  height: 100%;
}

.prof-headers {
  font-size: 20px
}

.edit-btn-container {
  height: 60%;
}

.profile-edit-btn {
  background-color:  #219ad8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 100%;
  padding: 6px 10px;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
}

.profile-edit-btn:hover {
  background-color:  #49ade0;
}

.profile-image-div {
  height: 27%;
  background-color: #ffffff;
  width: 100%;
}

.image-con {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-name-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 10%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  align-items: center;
}

.image-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-profile-photo {
  text-decoration: none;
}

.profile-img {
  border: none;
  /* line-height: 20px; */
  font-family: Arial, Helvetica, sans-serif;
}

.profile-img:hover {
  border: none;
  font-size: 90%;
}

.profile-image {
  height: 60%;
  border-radius: 50%;
  padding: 5px;
  border: thin solid rgba(194, 194, 194, 0.442);
}

.profile-name-div {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.profile-name {
  font-size: 24px;
  font-weight: 300;
  color: #414141;
  margin: 0;
}

.profile-name-p {
  font-weight: 300;
  color: #414141;
}

/* review and favorite section */

.second-containers {
  height: 6%;
}

.second-flex {
  height: 100%;
}

.review-div {
  height: 27%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.review-flex-column {
  width: 100%;
  text-align: center;
}

.review-flex-column .single-review-container {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
}

.review-flex-comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.profile-favorite-explore {
  text-decoration: none;
  color: #428a13;
}

.profile-favorite-explore:hover {
  text-decoration: underline;
}

/* second column */
.profile-column-two {
  width: 35%;
  height: 100%;
}

.contribute {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  width: 95%;
}

.add-park-contribute-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 50px;
  text-decoration: none;
  width: 95%;

}

.plus-sign {
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  color: #414141;
}

.profile-add-contribute {
  text-decoration: none;
  color: #428a13;
}

.profile-add-contribute:hover {
  text-decoration: underline;
}

.profile-p {
  margin: auto 10%;
}

@media only screen and (max-width: 450px) {
  .prof-page {
    margin-bottom: 0;
  }
  .profile-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .profile-box {
    overflow-y: scroll;
  }
  .profile-box::-webkit-scrollbar { width: 0 !important }
  .profile-column-one {
    width: 100%;
  }
  .profile-column-two {
    width: 100%;
  }
  .profile-container-header-flex {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .edit-btn-container {
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }
  .profile-edit-btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    height: 80%;
  }
  .image-name-container {
    gap: 10%;
    margin: auto;
    width: 80%;
  }
  .profile-name {
    font-size: 20px;
  }
  .profile-name-p {
    font-size: 16px;
  }
  .review-div {
    width: 100%;
    justify-content: center;
  }
  .profile-p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
  }
  .review-h4 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 680px) {
  .profile-page-content {
    margin-left: 0;
    margin-right: 0;
  }
  .first-buffer-flex {
    margin-left: 1em;
    margin-right: 1em;
  }
  .second-buffer-flex {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0;
    gap: 0;
    width: 90%;
    font-size: 14px;
    justify-content: space-between;
  }
  .profile-edit-btn {
    padding: 6px 10px;
  }

}
