.all-container-profile {
  height: 98.4%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.add-descriptor-div {
  margin: auto 6%;
}

.add-descriptor {
  line-height: 1.60;
}
