/* TODO Add site wide styles */
body {
  width: 100%;
  margin: 0;
  color: #414141;
  overflow: hidden;
  overflow-y: scroll;
}
body::-webkit-scrollbar { width: 0 !important }

#full-page-container {
  width: 100%;
}
html, body {width: auto!important; overflow-x: hidden!important}
