.login-page {
  background-image: url(https://drop-in-skate-bucket.s3.us-west-1.amazonaws.com/option-two-signup.jpg);
  background-size: cover !important;
  background-position: center center;
  width: 100%;
  height: 900px;
}

.login-form-div {
  padding-top: 140px
}

.login-form {
  max-width: 480px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 24%), 0 0 8px 0 rgb(0 0 0 / 8%);
  margin: auto;
}

.join-label {
  font-size: 14px;
  color: #333;
  font-style: italic;
}

@media only screen and (max-width: 450px) {
  .login-page {
    background-image: none;
    height: 500px;
  }
  .login-form-div {
    padding: 30px 0;
  }
  .login-form {
    box-shadow: none;
  }
}
