.nav-ul {
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
  margin: 0;
}

.navbar-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  height: 60px;
  width: 100%;
  align-items: center;
  font-size: 100%;
  background: transparent;
  padding: 0;
}

.navbar-container a {
  text-decoration: none;
  color: #414141;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-btn-holder {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 20px;
}
.profile-btn-container {
  background-color: transparent;
}

.skatepark-nav {
  width: 90%;
  text-align: right;
  border-radius: 99999px;
}

.skatepark-nav-btn {
  border: thin;
  border-radius: 99999px;
  border-color: #428a13;
  background-color: #428a13;
  color: #ffffff;
  padding: 0 16px;
  height: 32px;
  line-height: 1.36;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

.skatepark-nav-btn:hover {
  border-color: #326c0b;
  background-color: #326c0b;
}

.fa-regular {
  font-size: 18px;
  cursor: pointer;
}

.top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.prof-li:hover {
  background-color: #dedede9f;
}

.prof-logout {
  margin-left: 10px;
  border-color: #428a13;
  background-color: #428a13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
}

.prof-logout:hover {
  border-color: #326c0b;
  background-color: #326c0b;
}

.login-nav-btn {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #414141;
  border: 2px solid #9f9f9f;
}

.demo-div {
  width: 20%;
}

.signup-nav-link {
  width: 46%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2%;
}

.login-nav-link {
  width: 46%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 2%;
}

.demo-nav-btn {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  border: 2px solid #9f9f9f;
  color: #219AD8;
  background-color: none;
  border: none;
  font-size: 16px;
  padding: 0;
}

.login-nav-btn:hover {
  background-color: #b1b1b1;
}

.signup-nav-btn {
  border-color: #428a13;
  background-color: #428a13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
}

.signup-nav-btn:hover {
  border-color: #326c0b;
  background-color: #326c0b;
}

.explore-about-div {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 40%;
}

#explore,
.about-me,
.skatepark-nav {
  font-size: 13px;
  font-weight: 700;
}

#drop-in {
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #2a2a2aad;
  position: relative;
  text-align: center;
  width: 20%;
  box-sizing: border-box;
  margin: 0 auto;
}

#drop-in-user {
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #2a2a2aad;
  position: relative;
  text-align: center;
  width: 50%;
  box-sizing: border-box;
  margin: 0 auto;
}

#account-div {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.nav-prof {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5%;
  width: 40%;
}

.nav-prof-demo {
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: flex-end;
}

.prof-btn-container {
  width: 5%;
  position: relative;
  display: inline-block;
  margin: auto;
}

.prof-btn {
  border: none;
  border: 0;
  outline: 0;
  background-color: #ffffff;
}

.fa-thin.fa-circle-user {
  width: 50px;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.profile-dropdown {
  margin-top: 17px;
  border-radius: 6px;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
}

.prof-li {
  padding: .5em 1em;
  list-style: none;
  height: 32px;
  align-self: center;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-dropdown {
  display: none;
}

.second-nav {
  display: none;
}

.navbar-dropdown-img-div {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-dropdown-img {
  width: 20px;
  cursor: pointer;
}
.sidenav-p {
  display: none;
}
.profile {
  display: none;
}

@media only screen and (max-width: 1390px) {
  .signup-nav-link {
    width: 80%;
    justify-content: center;
  }
  .login-nav-link {
    width: 80%;
    justify-content: center;
  }
  .signup-nav-btn {
    width: 90%;
    margin-right: 5%;
    font-size: 12px;
  }
  .login-nav-btn {
    width: 90%;
    margin-left: 5%;
  }
  .demo-div {
    width: 35%;
  }
  .demo-nav-btn {
    margin-right: 10px;
    width: 100%;
  }
  .nav-prof,
  .nav-prof-demo {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .explore-about-div {
    width: 30%;
  }
  .demo-nav-btn {
    color: #219AD8;
    background-color: none;
    border: none;
    font-size: 16px;
    padding: 0;
    justify-content: flex-end;
    width: 25%;
  }
  #drop-in {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #2a2a2aad;
    position: relative;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .first-nav {
    display: none;
  }
  .second-nav {
    display: flex;
  }
  .sidenav-ul {
    display: none;
    position: absolute;
    top: 0;
    /* left: -288px; */
    background-color: #219AD8;
    width: 258px;
    height: max-content;
    z-index: 99999999;
    background-color: #ffffff;
    list-style: none;
  }
  .sidenav-ul-active {
    display: flex;
    left: 0;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 13px;
    transition-delay: 5s;
    animation: moveToRight 1s ease-in-out;
    animation-delay: 0s;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  .hide-sidenav-btn {
    background-color: #ffffff !important;
    border: none;
    width: 20px;
    margin-bottom: 50px;
  }
  .sidenav-close {
    width: 20px;
    cursor: pointer;
  }
  #explore,
  .about-me {
    font-size: 30px;
  }
  .sidenav-li {
    margin-bottom: 20px;
    margin-right: 13px;
  }
  .sidenav-li:last-child {
    margin-top: 26px;
    padding-top: 20px;
    border-top: 2px solid rgb(198, 198, 198);
    height: 200px;
  }
  .nav-prof-demo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: 100%;
  }
  .signup-nav-link {
    width: 100%;
    justify-content: center;
    margin: 0;
    margin-top: 40px;
  }
  .login-nav-link {
    width: 100%;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
  }
  .signup-nav-btn {
    width: 100%;
    padding: 20px 24px;
    margin-right: 0;
  }
  .login-nav-btn {
    width: 100%;
    padding: 20px 24px;
    margin: 0;
  }
  .sidenav-p {
    display: flex;
    margin: 0;
    font-size: 16px;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    color: #787878;
  }
  #drop-in-user {
    margin-left: 10px
  }
  #drop-in {
    margin-left: 0;
  }
  .nav-prof {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .skatepark-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .skatepark-nav-btn {
    padding: 20px 24px;
    width: 100%;
    line-height: 1.36;
    display: inline-flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 2px solid transparent;
  }
  .prof-btn-container {
    width: 100%;
  }
  .profile {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    color: #414141;
    font-weight: 700;
    /* border-bottom: 2px solid rgb(198, 198, 198); */
    gap: 10px;
    cursor: pointer;
  }
  .sort-arrow-prof {
    width: 18px;
    height: 18px;
    margin: 0;
    transition: 1s;
  }
  .sort-arrow-prof-active {
    transform: rotate(180deg);
  }
  .fa-thin, .fa-circle-user {
    display: none;
  }
  .profile-dropdown {
    margin-top: 17px;
    border-radius: 0;
    position: absolute;
    left: -13px;
    background-color: #ffffff;
    box-shadow: none;
    z-index: 1;
    padding: 0;
    transition: 5s;
    animation: slideDown 1s ease-in-out;
    animation-delay: 0s;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    width: 271px;
  }
  .prof-li {
    font-size: 16px;
  }
  @keyframes moveToRight {
    from {
      transform: translateX(-288px);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideDown {
    from {
      transform: translateY(-30px);
    }
    to {
      transform: translateY(0px);
    }
  }
}
