.nav-ul {
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
  margin: 0;
}

.navbar-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  height: 60px;
  width: 100%;
  align-items: center;
  font-size: 100%;
  background: transparent;
  padding: 0;
}

.navbar-container a {
  text-decoration: none;
  color: #414141;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-btn-holder {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 20px;
}
.profile-btn-container {
  background-color: transparent;
}

.skatepark-nav {
  width: 90%;
  text-align: right;
  border-radius: 99999px;
}

.skatepark-nav-btn {
  border: thin;
  border-radius: 99999px;
  border-color: #428a13;
  background-color: #428a13;
  color: #ffffff;
  padding: 0 16px;
  height: 32px;
  line-height: 1.36;
  font-size: 13px;
  font-weight: 700;
}

.fa-regular {
  font-size: 18px;
  cursor: pointer;
}

.top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.prof-li:hover {
  background-color: #dedede9f;
}

.prof-logout {
  margin-left: 10px;
  border-color: #428a13;
  background-color: #428a13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
}

.prof-logout:hover {
  border-color: #326c0b;
  background-color: #326c0b;
}

.login-nav-btn {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #414141;
  border: 2px solid #9f9f9f;
}

.demo-nav-btn {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #414141;
  border: 2px solid #9f9f9f;
}

.login-nav-btn:hover {
  background-color: #b1b1b1;
}

.signup-nav-btn {
  margin-left: 20px;
  border-color: #428a13;
  background-color: #428a13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 0 16px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
}

.signup-nav-btn:hover {
  border-color: #326c0b;
  background-color: #326c0b;
}

.explore-about-div {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 40%;
}

#explore,
.about-me,
.skatepark-nav {
  font-size: 13px;
  font-weight: 700;
}

#drop-in {
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #2a2a2aad;
  position: relative;
  text-align: center;
  width: 20%;
  box-sizing: border-box;
  margin: 0 auto;
}


.nav-prof {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5%;
  width: 40%;
}

.nav-prof-demo {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: flex-end;
  gap: 10px;
}

.prof-btn-container {
  width: 5%;
  position: relative;
  display: inline-block;
  margin: auto;
}

.prof-btn {
  border: none;
  border: 0;
  outline: 0;
  background-color: #ffffff;
}

.fa-thin.fa-circle-user {
  width: 50px;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.profile-dropdown {
  margin-top: 17px;
  border-radius: 6px;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
}

.prof-li {
  padding: .5em 1em;
  list-style: none;
  height: 32px;
  align-self: center;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-dropdown {
  display: none;
}

@media only screen and (max-width: 540px){
  .navbar-dropdown {
    display: flex;
    width: 23px;
  }
  .explore-about-div {
    position: relative;
    flex-direction: column;
    gap: 40px;
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  .nav-prof-demo {
    gap: 0;
    width: 30%;
  }
  .explore-about-div {
    width: 30%;
  }
  .login-nav-btn {
    display: none;
  }
  .signup-nav-btn {
    display: none;
  }
  .demo-nav-btn {
    color: #219AD8;
    background-color: none;
    border: none;
    font-size: 16px;
    padding: 0;
  }
  #drop-in {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #2a2a2aad;
    position: relative;
    text-align: center;
    width: 40%;
    box-sizing: border-box;
    margin: 0 auto;
  }
}
