.review-create-btn {
  width: 60%;
  margin: auto;
  border-color: #428a13;
  background-color: #428a13;
  color: #ffffff;
  height: 48px;
  cursor: pointer;
  border-radius: 9999px;
  margin: 0 7.5%;
  border: 2px solid transparent;
  font-size: 18px;
}

.review-link-login {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.new-review-form {
  padding: 30px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.new-review-cancelbtn-div {
  height: 48px;
  width: 48px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

.new-review-cancelbtn-div:hover {
  background-color: #f1f1f1;
}

.new-review-cancel-btn {
  transition: 200ms ease-in-out 0s;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new-review-cancel-img {
  transition: 200ms ease-in-out 0s;
  width: 20px;
  height: 20px;
  color: #333;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

.new-review-skatepark-name {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 20px;
}

.new-review-label {
  margin-bottom: 4px;
  margin-top: 30px;
}

.new-review-input {
  border-radius: 6px;
  border: thin solid rgba(194, 194, 194, 0.555);
  min-height: 26px;
}

.new-review-submit-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 32px;
}

.new-review-submit {
  margin-top: 10px;
  border-color: #428a13;
  background-color: #428a13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.36;
  height: 32px;
  padding: 16px 20px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease-out;
  color: #ffffff;
  border: 2px solid transparent;
}

.new-review-submit:hover {
  border-color: #326c0b;
  background-color: #326c0b;
}

.review-errors {
  color: red;
}

/* stars */
.star-rating-div {
  display: flex;
  flex-direction: row;
  max-width: 100px;
  justify-content: flex-start;
  gap: 8px;
}

.star-img {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;
}

.star-img:hover {
  width: 42px;
  height: 42px;
}
